@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-decoration-style: none;
}

@font-face {
  font-family: 'Project2';
  src: url("/dist/fonts/fonts/Project2.eot"), url("./dist/fonts/fonts/Project2.svg"), url("/dist/fonts/fonts/Project2.ttf"), url("/dist/fonts/fonts/Project2.woff");
}

@font-face {
  font-family: "uniform-5-regular";
  src: url("https://dafonttop.com/wp-data/u/592/8592/file/Uniform Bold.ttf") format("woff"), url("https://dafonttop.com/wp-data/u/592/8592/file/Uniform Bold.ttf") format("opentype"), url("https://dafonttop.com/wp-data/u/592/8592/file/Uniform Bold.ttf") format("truetype");
}

@font-face {
  font-family: "uniform-3-regular";
  src: url("https://dafonttop.com/wp-data/u/592/8592/file/Uniform Medium.ttf") format("woff"), url("https://dafonttop.com/wp-data/u/592/8592/file/Uniform Medium.ttf") format("opentype"), url("https://dafonttop.com/wp-data/u/592/8592/file/Uniform Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'PT Serif Caption', serif;
  src: url("https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap");
}

header {
  width: 100vw;
  height: 10vh;
  padding-top: .2em;
  flex: 0 0 auto;
  background: #579c87;
  border-bottom: 2px #a1c181;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

header h1 {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: -0.1rem;
  font-weight: 700;
  color: #fdcb46;
  text-align: center;
  font-size: 5vh;
  padding-bottom: 0.2em;
}

footer {
  width: 100vw;
  height: 5vh;
  flex: 0 0 auto;
  background: #579c87;
  border-top: 2px #a1c181;
  display: flex;
  align-content: center;
  align-items: center;
}

footer .btns {
  width: 100vw;
  padding: 0 1em 0 1em;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

footer .btns a {
  color: #fdcb46;
  font-size: 2.5vh;
}

.btns__btn:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.menus {
  flex: 1 1 auto;
  position: relative;
  background: #fff;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
}

.menus__zoom {
  width: 148.75px;
  height: 210.5px;
  margin: 10px;
  box-shadow: 1px 1px 10px 0px rgba(204, 204, 204, 0.9);
  overflow: hidden;
}

.menus__zoom__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  transform: scale(1);
  opacity: 1;
  transition: all 1s;
}

.menus__zoom:hover .menus__zoom__menu {
  transform: scale(1.2);
  opacity: 60%;
}

.menus__zoom--menu1 {
  background: #fcdfdb;
  color: #3d1319;
}

.menus__zoom--menu1 h1 {
  font-family: 'Devonshire', cursive;
  font-weight: 500;
}

.menus__zoom--menu1 h2 {
  font-family: 'Segoe print', cursive, sans-serif;
  padding-top: 0.5em;
  font-weight: 700;
}

.menus__zoom--menu1 h3 {
  font-family: 'Segoe print', cursive, sans-serif;
  font-size: 1em;
  padding-top: 2em;
  display: block;
  position: relative;
}

.menus__zoom--menu1 h3::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 2em;
  content: "";
  display: inline-block;
  height: 2px;
  left: 0%;
  position: absolute;
  background: #3d1319;
  transition: width 0.3s ease 0s;
  width: 0;
}

.menus__zoom--menu1 h3:hover::after {
  width: 100%;
  left: 0;
}

.menus__zoom--menu1 p {
  font-family: 'Segoe print', cursive, sans-serif;
  font-size: .75em;
}

.menus__zoom--menu1 .icon-noteblk:before {
  font-family: 'Project2';
  font-weight: 500;
  font-size: 2.8em;
  background-image: linear-gradient(90deg, #ef4860, #f6926b);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.menus__zoom--menu1 .icon-menu1left:before,
.menus__zoom--menu1 .icon-menu1right:before {
  font-family: 'Project2';
  font-weight: 500;
  font-size: 6em;
}

.menus__zoom--menu2 {
  background: #fff5fe;
}

.menus__zoom--menu2 h1 {
  font-family: 'Croissant One', cursive;
  font-weight: 500;
  font-size: 1em;
  background-image: linear-gradient(135deg, #e38913, #8f5bfe);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.menus__zoom--menu2 h2 {
  font-family: 'PT Serif Caption', serif;
  color: #c77412;
  font-size: 2em;
  padding-top: 0.5em;
}

.menus__zoom--menu2 h3 {
  font-family: 'ogiremaregular';
  font-size: 1em;
  padding-top: 3.25em;
  display: block;
  position: relative;
}

.menus__zoom--menu2 p {
  font-family: 'ogiremaregular';
  font-size: .75em;
}

.menus__zoom--menu2 .icon-menu2left:before,
.menus__zoom--menu2 .icon-menu2right:before {
  font-family: 'Project2';
  font-weight: 500;
  font-size: 8em;
}

.menus__zoom--menu3 {
  background: #edefef;
  color: #000;
}

.menus__zoom--menu3 h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  font-size: 1.6em;
  background-image: linear-gradient(90deg, #001ed9, #0889fb);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.menus__zoom--menu3 h2 {
  font-family: 'Segoe print', cursive, sans-serif;
  color: #0887fb;
  font-weight: 500;
  font-size: 2em;
  padding-top: 0.5em;
}

.menus__zoom--menu3 h3 {
  font-family: 'Segoe print', cursive, sans-serif;
  font-size: 1em;
  padding-top: 3.25em;
  display: block;
  position: relative;
}

.menus__zoom--menu3 p {
  font-family: 'Segoe print', cursive, sans-serif;
  font-size: .75em;
}

.menus__zoom--menu3 .icon-menu3left:before,
.menus__zoom--menu3 .icon-menu3right:before {
  font-family: 'Project2';
  font-weight: 500;
  font-size: 8.5em;
}

.menus__zoom--menu4 {
  background: #fdfffd;
  color: #000;
}

.menus__zoom--menu4 h1 {
  font-family: 'Kaushan Script', cursive;
  font-weight: 500;
  background-image: linear-gradient(135deg, #3d923a, #beff7f);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.menus__zoom--menu4 h2 {
  font-family: 'Segoe print', cursive, sans-serif;
  color: #72bf56;
  font-weight: 500;
  font-size: 2em;
  padding-top: 0.5em;
}

.menus__zoom--menu4 h3 {
  font-family: 'Segoe print', cursive, sans-serif;
  font-size: 1em;
  padding-top: 3.25em;
  display: block;
  position: relative;
}

.menus__zoom--menu4 h3::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 3.2em;
  content: "";
  display: inline-block;
  height: 2px;
  left: 0%;
  position: absolute;
  background: linear-gradient(135deg, #3d923a, #beff7f);
  transition: width 0.3s ease 0s;
  width: 0;
}

.menus__zoom--menu4 h3:hover::after {
  width: 100%;
  left: 0;
}

.menus__zoom--menu4 p {
  font-family: 'Segoe print', cursive, sans-serif;
  font-size: .75em;
}

.menus__zoom--menu4 .icon-menu4left:before {
  font-family: 'Project2';
  font-weight: 500;
  font-size: 8.5em;
  background-image: linear-gradient(90deg, #3d923a, #beff7f);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.menus__zoom--menu4 .icon-menu4right:before {
  font-family: 'Project2';
  font-weight: 500;
  font-size: 8.5em;
  background-image: linear-gradient(90deg, #beff7f, #3d923a);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.upnext {
  width: 9em;
  height: 2em;
  flex: 0 0 auto;
  font-size: 2.7vh;
  background: #579c87;
  color: #fdcb46;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin: 1em 0 1em 0;
  display: flex;
  align-content: center;
  align-items: center;
}

.upnext p {
  font-family: "uniform-5-regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

p span {
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

p span:nth-child(2) {
  animation-delay: .5s;
}

p span:nth-child(3) {
  animation-delay: .9s;
}

.details--menu1 {
  background: #fcdfdb;
  color: #3d1319;
}

.details--menu1 h1 {
  font-family: 'Devonshire', cursive;
  font-weight: 500;
}

.details--menu1 h2 {
  font-family: 'Segoe print', cursive, sans-serif;
  padding-top: 0.5em;
  font-weight: 700;
}

.details--menu1 h3 {
  font-family: 'Segoe print', cursive, sans-serif;
  font-size: 1em;
  padding-top: 2em;
  display: block;
  position: relative;
}

.details--menu1 h3::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 2em;
  content: "";
  display: inline-block;
  height: 2px;
  left: 0%;
  position: absolute;
  background: #3d1319;
  transition: width 0.3s ease 0s;
  width: 0;
}

.details--menu1 h3:hover::after {
  width: 100%;
  left: 0;
}

.details--menu1 p {
  font-family: 'Segoe print', cursive, sans-serif;
  font-size: .75em;
}

.details--menu1 .icon-noteblk:before {
  font-family: 'Project2';
  font-weight: 500;
  font-size: 2.8em;
  background-image: linear-gradient(90deg, #ef4860, #f6926b);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.details--menu1 .icon-menu1left:before,
.details--menu1 .icon-menu1right:before {
  font-family: 'Project2';
  font-weight: 500;
  font-size: 6em;
}

.details--menu1 .title--top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.details--menu1 .title--bottom {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.details--menu1 .title--bottom .icon-noteblk:before {
  font-size: 2em;
}

.details--menu2 {
  background: #fff5fe;
}

.details--menu2 h1 {
  font-family: 'Croissant One', cursive;
  font-weight: 500;
  font-size: 1em;
  background-image: linear-gradient(135deg, #e38913, #8f5bfe);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.details--menu2 h2 {
  font-family: 'PT Serif Caption', serif;
  color: #c77412;
  font-size: 2em;
  padding-top: 0.5em;
}

.details--menu2 h3 {
  font-family: 'ogiremaregular';
  font-size: 1em;
  padding-top: 3.25em;
  display: block;
  position: relative;
}

.details--menu2 p {
  font-family: 'ogiremaregular';
  font-size: .75em;
}

.details--menu2 .icon-menu2left:before,
.details--menu2 .icon-menu2right:before {
  font-family: 'Project2';
  font-weight: 500;
  font-size: 8em;
}

.details--menu2 .title--top {
  width: 100%;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 2em;
}

.details--menu2 .title--bottom {
  display: flex;
  flex-direction: row;
  margin-top: 0em;
}

.details--menu2 .starters {
  color: #c67412;
}

.details--menu2 .starters h3::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 3.3em;
  content: "";
  display: inline-block;
  height: 2px;
  left: 0%;
  background: #c67412;
  position: absolute;
  transition: width 0.3s ease 0s;
  width: 0;
}

.details--menu2 .starters h3:hover::after {
  width: 100%;
  left: 0;
}

.details--menu2 .maincourses {
  color: #a56799;
}

.details--menu2 .maincourses h3::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 3.3em;
  content: "";
  display: inline-block;
  height: 2px;
  left: 0%;
  background: #a56799;
  position: absolute;
  transition: width 0.3s ease 0s;
  width: 0;
}

.details--menu2 .maincourses h3:hover::after {
  width: 100%;
  left: 0;
}

.details--menu2 .desserts {
  color: #6e4ccc;
}

.details--menu2 .desserts h3::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 3.3em;
  content: "";
  display: inline-block;
  height: 2px;
  left: 0%;
  background: #6e4ccc;
  position: absolute;
  transition: width 0.3s ease 0s;
  width: 0;
}

.details--menu2 .desserts h3:hover::after {
  width: 100%;
  left: 0;
}

.details--menu3 {
  background: #edefef;
  color: #000;
}

.details--menu3 h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  font-size: 1.6em;
  background-image: linear-gradient(90deg, #001ed9, #0889fb);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.details--menu3 h2 {
  font-family: 'Segoe print', cursive, sans-serif;
  color: #0887fb;
  font-weight: 500;
  font-size: 2em;
  padding-top: 0.5em;
}

.details--menu3 h3 {
  font-family: 'Segoe print', cursive, sans-serif;
  font-size: 1em;
  padding-top: 3.25em;
  display: block;
  position: relative;
}

.details--menu3 p {
  font-family: 'Segoe print', cursive, sans-serif;
  font-size: .75em;
}

.details--menu3 .icon-menu3left:before,
.details--menu3 .icon-menu3right:before {
  font-family: 'Project2';
  font-weight: 500;
  font-size: 8.5em;
}

.details--menu3 .title--top {
  width: 100%;
  font-size: 2.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 2em;
}

.details--menu3 .title--bottom {
  display: flex;
  flex-direction: row;
  margin-top: 0em;
}

.details--menu3 .starters {
  color: #0228dd;
}

.details--menu3 .starters p {
  color: #000;
}

.details--menu3 .starters h3 {
  color: #000;
}

.details--menu3 .starters h3::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 3.3em;
  content: "";
  display: inline-block;
  height: 2px;
  left: 0%;
  background: #0228dd;
  position: absolute;
  transition: width 0.3s ease 0s;
  width: 0;
}

.details--menu3 .starters h3:hover::after {
  width: 100%;
  left: 0;
}

.details--menu3 .maincourses {
  color: #0670f3;
}

.details--menu3 .maincourses p {
  color: #000;
}

.details--menu3 .maincourses h3 {
  color: #000;
}

.details--menu3 .maincourses h3::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 3.3em;
  content: "";
  display: inline-block;
  height: 2px;
  left: 0%;
  background: #0670f3;
  position: absolute;
  transition: width 0.3s ease 0s;
  width: 0;
}

.details--menu3 .maincourses h3:hover::after {
  width: 100%;
  left: 0;
}

.details--menu3 .desserts {
  color: #229df9;
}

.details--menu3 .desserts p {
  color: #000;
}

.details--menu3 .desserts h3 {
  color: #000;
}

.details--menu3 .desserts h3::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 3.3em;
  content: "";
  display: inline-block;
  height: 2px;
  left: 0%;
  background: #229df9;
  position: absolute;
  transition: width 0.3s ease 0s;
  width: 0;
}

.details--menu3 .desserts h3:hover::after {
  width: 100%;
  left: 0;
}

.details--menu4 {
  background: #fdfffd;
  color: #000;
}

.details--menu4 h1 {
  font-family: 'Kaushan Script', cursive;
  font-weight: 500;
  background-image: linear-gradient(135deg, #3d923a, #beff7f);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.details--menu4 h2 {
  font-family: 'Segoe print', cursive, sans-serif;
  color: #72bf56;
  font-weight: 500;
  font-size: 2em;
  padding-top: 0.5em;
}

.details--menu4 h3 {
  font-family: 'Segoe print', cursive, sans-serif;
  font-size: 1em;
  padding-top: 3.25em;
  display: block;
  position: relative;
}

.details--menu4 h3::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 3.2em;
  content: "";
  display: inline-block;
  height: 2px;
  left: 0%;
  position: absolute;
  background: linear-gradient(135deg, #3d923a, #beff7f);
  transition: width 0.3s ease 0s;
  width: 0;
}

.details--menu4 h3:hover::after {
  width: 100%;
  left: 0;
}

.details--menu4 p {
  font-family: 'Segoe print', cursive, sans-serif;
  font-size: .75em;
}

.details--menu4 .icon-menu4left:before {
  font-family: 'Project2';
  font-weight: 500;
  font-size: 8.5em;
  background-image: linear-gradient(90deg, #3d923a, #beff7f);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.details--menu4 .icon-menu4right:before {
  font-family: 'Project2';
  font-weight: 500;
  font-size: 8.5em;
  background-image: linear-gradient(90deg, #beff7f, #3d923a);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.details--menu4 .title--top {
  width: 100%;
  font-size: 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 2em;
}

.details--menu4 .title--bottom {
  display: flex;
  flex-direction: row;
  margin-top: 0em;
}

.mentionslegales {
  margin: 1em;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 80%;
  font-family: "uniform-3-regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span,
h1,
h2 {
  text-align: center;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100%;
}

.details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 327.25px;
  height: 463.1px;
  padding: 1em;
  box-shadow: 1px 1px 10px 0px rgba(204, 204, 204, 0.9);
  margin-top: 1em;
  margin-bottom: 2em;
}

.starters,
.maincourses,
.desserts {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.starters__title,
.maincourses__title,
.desserts__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dish {
  display: flex;
  justify-content: space-between;
}

.dish__name {
  justify-self: flex-start;
  margin-right: 1em;
}

.dish__price {
  justify-self: flex-end;
  margin-left: 1em;
}
/*# sourceMappingURL=main.css.map */