@import './base/reset';
@import './utils/variables';
@import './utils/mixins';
@import './layout/header';
@import './layout/footer';
//
@import './pages/home';
@import './pages/menu1';
@import './pages/menu2';
@import './pages/menu3';
@import './pages/menu4';
//
//
html,
body {
    height: 100%;
    width: 100%;
    font-size: 80%;
    font-family: "uniform-3-regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span,
h1,
h2 {
    text-align: center;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

section {
    flex: 1 1 auto; // [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
    position: relative;
    overflow-y: auto;
    //for the content: --
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 100%;
}

.details {
    position: relative;
    //for the content:
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 2.75*119px;
    height: 2.75*168.4px;
    padding: 1em;
    box-shadow: 1px 1px 10px 0px rgba(204, 204, 204, 0.9);
    margin-top: 1em;
    margin-bottom: 2em;
}

.starters,
.maincourses,
.desserts {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.starters__title,
.maincourses__title,
.desserts__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dish {
    display: flex;
    justify-content: space-between;
    &__name {
        justify-self: flex-start;
        margin-right: 1em;
    }
    &__price {
        justify-self: flex-end;
        margin-left: 1em;
    }
}