header {
    width: 100vw;
    height: 7.3em;
    padding-top: .2em;
    margin-bottom: 0;
    top: 0;
    z-index: 1;
    background: $bgcolor;
    border-bottom: 2px #a1c181;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    h1 {
        display: inline-block;
        vertical-align: middle;
        letter-spacing: -0.1rem;
        font-weight: 700;
        color: $txtcolor;
        text-align: center;
        font-size: 3em;
        padding-bottom: 0.2em;
    }
}