.container {
    width: 95vw;
    justify-content: center;
    align-self: center;
}

.grid-menus {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: start;
    grid-gap: 1rem;
    margin: 1rem;
    &__menu {
        display: flex;
        width: 100%;
        overflow: hidden;
        &--linkmenu1 {
            display: block;
            background: url(/dist/img/menu-1b.png);
            @include linkmenu;
            transform: scale(1);
            transition: transform 1s;
        }
        &:hover {
            .grid-menus__menu--linkmenu1 {
                transform: scale(1.2);
            }
        }
    }
}

.grid-menus> ::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: calc(100% / (1190/1684));
}