.details--menu1 {
    @include stylemenu1;
}

.title {
    &--top {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    &--bottom {
        display: flex;
        flex-direction: row;
        margin-top: 2em;
        .icon-noteblk:before {
            font-size: 2em;
        }
    }
}