.details--menu2 {
    @include stylemenu2;
    justify-content: flex-start;
    padding: 0em 0.2em 0em 0.2em;
    .title {
        &--top {
            width: 100%;
            font-size: 1.25em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            margin: 3em 0 2.2em 0;
        }
    }
    .starters,
    .maincourses,
    .desserts {
        .content {
            p {
                padding: .5em 5em;
            }
            margin: 1.2em 0 1.5em 0;
            .dish {
                &__name {
                    padding-right: 0;
                }
                &__price {
                    padding-left: 0;
                    font-size: .6em;
                    vertical-align: bottom;
                }
            }
        }
    }
    .starters__title,
    .maincourses__title,
    .desserts__title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: -2em 0 -2.2em 0;
    }
    .dish {
        &__name {
            padding-right: 0;
        }
        &__price {
            padding-left: 0;
            font-size: .6em;
            vertical-align: bottom;
        }
    }
    .starters {
        color: $txtcolor21;
        h3 {
            &::after {
                background: none repeat scroll 0 0 transparent;
                bottom: 3.3em;
                content: "";
                display: inline-block;
                height: 2px;
                left: 0%;
                background: $txtcolor21;
                transition: width 0.3s ease 0s;
                width: 0;
            }
            &:hover::after {
                width: 100%;
                left: 0;
            }
        }
    }
    .maincourses {
        color: $txtcolor22;
        h3 {
            &::after {
                background: none repeat scroll 0 0 transparent;
                bottom: 3.3em;
                content: "";
                display: inline-block;
                height: 2px;
                left: 0%;
                background: $txtcolor22;
                transition: width 0.3s ease 0s;
                width: 0;
            }
            &:hover::after {
                width: 100%;
                left: 0;
            }
        }
    }
    .desserts {
        color: $txtcolor23;
        h3 {
            &::after {
                background: none repeat scroll 0 0 transparent;
                bottom: 3.3em;
                content: "";
                display: inline-block;
                height: 2px;
                left: 0%;
                background: $txtcolor23;
                transition: width 0.3s ease 0s;
                width: 0;
            }
            &:hover::after {
                width: 100%;
                left: 0;
            }
        }
    }
    .dish {
        &__name {
            padding-right: 0em;
        }
        &__price {
            padding-left: 0em;
            font-size: .6em;
            vertical-align: bottom;
        }
    }
}