.details--menu3 {
    @include stylemenu3;
    .title {
        &--top {
            width: 100%;
            font-size: 1.8em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            margin: 1.8em 0 1em 0;
        }
    }
    .starters,
    .maincourses {
        margin: 0 0 1.2em 0;
    }
    .starters__title,
    .maincourses__title,
    .desserts__title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: -2em 0 -2.2em 0;
    }
    .dish {
        &__name {
            padding-left: 3.25em;
        }
        &__price {
            padding-right: 3.25em;
            font-size: .85em;
            font-weight: 500;
            vertical-align: bottom;
        }
    }
    .starters {
        color: $barcolor31;
        p {
            color: $txtcolor3;
        }
        h3 {
            color: $txtcolor3;
            &::after {
                background: none repeat scroll 0 0 transparent;
                bottom: 4em;
                @media only screen and (min-width: 30em) {
                    bottom: 3.6em;
                }
                content: "";
                display: inline-block;
                height: 2px;
                left: 0%;
                background: $barcolor31;
                ;
                transition: width 0.3s ease 0s;
                width: 0;
            }
            &:hover::after {
                width: 100%;
                left: 0;
            }
        }
    }
    .maincourses {
        color: $barcolor32;
        p {
            color: $txtcolor3;
        }
        h3 {
            color: $txtcolor3;
            &::after {
                background: none repeat scroll 0 0 transparent;
                bottom: 4em;
                @media only screen and (min-width: 30em) {
                    bottom: 3.6em;
                }
                content: "";
                display: inline-block;
                height: 2px;
                left: 0%;
                background: $barcolor32;
                ;
                transition: width 0.3s ease 0s;
                width: 0;
            }
            &:hover::after {
                width: 100%;
                left: 0;
            }
        }
    }
    .desserts {
        color: $barcolor33;
        p {
            color: $txtcolor3;
        }
        h3 {
            color: $txtcolor3;
            &::after {
                background: none repeat scroll 0 0 transparent;
                bottom: 4em;
                @media only screen and (min-width: 30em) {
                    bottom: 3.6em;
                }
                content: "";
                display: inline-block;
                height: 2px;
                left: 0%;
                background: $barcolor33;
                ;
                transition: width 0.3s ease 0s;
                width: 0;
            }
            &:hover::after {
                width: 100%;
                left: 0;
            }
        }
    }
}