.details--menu1 {
    @include stylemenu1;
    padding: 2em 3em 2em 3em;
    .title {
        &--top {
            width: 100%;
            font-size: 1.4em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }
        &--bottom {
            display: flex;
            flex-direction: row;
            margin-top: 2em;
            .icon-noteblk:before {
                font-size: 2em;
            }
        }
    }
    .starters__title,
    .maincourses__title,
    .desserts__title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: -1em 0 -1.5em 0;
    }
    .dish {
        &__name {
            padding-left: 0em;
        }
        &__price {
            font-weight: 700;
            padding-right: 0em;
        }
    }
}