.details--menu3 {
    @include stylemenu3;
    justify-content: flex-start;
    padding: 0em 0.8em 0em 0.8em;
    .title {
        &--top {
            width: 100%;
            font-size: 1.6em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            margin: 2.2em 0 1.5em 0;
        }
    }
    .starters,
    .maincourses,
    .desserts {
        .content {
            margin: 0 0 1.2em 0;
            .dish {
                &__name {
                    padding-right: 0em;
                }
                &__price {
                    padding-left: 0em;
                    font-weight: 500;
                    vertical-align: bottom;
                }
            }
        }
        p {
            padding: .25em 4em;
        }
    }
    .starters__title,
    .maincourses__title,
    .desserts__title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: -2em 0 -2.2em 0;
    }
    .starters {
        color: $barcolor31;
        p {
            color: $txtcolor3;
        }
        h3 {
            color: $txtcolor3;
            padding-top: 11%;
            &::after {
                display: block;
                content: '';
                border-bottom: solid 2px $barcolor31;
                transform: scaleX(0);
                transition: transform 250ms ease-in-out;
            }
            &:hover::after {
                transform: scaleX(1);
                transform-origin: 0% 75%;
            }
        }
    }
    .maincourses {
        color: $barcolor32;
        p {
            color: $txtcolor3;
        }
        h3 {
            color: $txtcolor3;
            padding-top: 11%;
            &::after {
                display: block;
                content: '';
                border-bottom: solid 2px $barcolor32;
                transform: scaleX(0);
                transition: transform 250ms ease-in-out;
            }
            &:hover::after {
                transform: scaleX(1);
                transform-origin: 0% 75%;
            }
        }
    }
    .desserts {
        color: $barcolor33;
        p {
            color: $txtcolor3;
        }
        h3 {
            color: $txtcolor3;
            padding-top: 11%;
            &::after {
                display: block;
                content: '';
                border-bottom: solid 2px $barcolor33;
                transform: scaleX(0);
                transition: transform 250ms ease-in-out;
            }
            &:hover::after {
                transform: scaleX(1);
                transform-origin: 0% 75%;
            }
        }
    }
}