.details--menu2 {
    @include stylemenu2;
    .details {
        justify-content: center;
    }
    .title {
        &--top {
            width: 100%;
            font-size: 1.5em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            margin: 3em 0 2em 0;
        }
    }
    .starters,
    .maincourses {
        margin: 0 0 1.2em 0;
    }
    .starters__title,
    .maincourses__title,
    .desserts__title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: -2em 0 -2.2em 0;
    }
    .starters {
        color: $txtcolor21;
        h3 {
            &::after {
                background: none repeat scroll 0 0 transparent;
                bottom: 3.3em;
                @media only screen and (min-width: 30em) {
                    bottom: 2.8em;
                }
                content: "";
                display: inline-block;
                height: 2px;
                left: 0%;
                background: $txtcolor21;
                ;
                transition: width 0.3s ease 0s;
                width: 0;
            }
            &:hover::after {
                width: 100%;
                left: 0;
            }
        }
    }
    .dish {
        &__name {
            padding-left: 3.5em;
        }
        &__price {
            padding-right: 3.5em;
            font-size: .85em;
            vertical-align: bottom;
        }
    }
    .maincourses {
        color: $txtcolor22;
        h3 {
            &::after {
                background: none repeat scroll 0 0 transparent;
                bottom: 3.3em;
                @media only screen and (min-width: 30em) {
                    bottom: 2.8em;
                }
                content: "";
                display: inline-block;
                height: 2px;
                left: 0%;
                background: $txtcolor22;
                ;
                transition: width 0.3s ease 0s;
                width: 0;
            }
            &:hover::after {
                width: 100%;
                left: 0;
            }
        }
    }
    .desserts {
        color: $txtcolor23;
        h3 {
            &::after {
                background: none repeat scroll 0 0 transparent;
                bottom: 3.3em;
                @media only screen and (min-width: 30em) {
                    bottom: 2.8em;
                }
                content: "";
                display: inline-block;
                height: 2px;
                left: 0%;
                background: $txtcolor23;
                ;
                transition: width 0.3s ease 0s;
                width: 0;
            }
            &:hover::after {
                width: 100%;
                left: 0;
            }
        }
    }
}