.details--menu3 {
    @include stylemenu3;
    .title {
        &--top {
            width: 100%;
            font-size: 2.25em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            margin-top: 2em;
        }
        &--bottom {
            display: flex;
            flex-direction: row;
            margin-top: 0em;
        }
    }
    .starters {
        h3 {
            // a mettre en mixin 
            &::after {
                background: none repeat scroll 0 0 transparent;
                bottom: 3.3em;
                content: "";
                display: inline-block;
                height: 2px;
                left: 0%;
                background: $barcolor31;
                position: absolute;
                transition: width 0.3s ease 0s;
                width: 0;
            }
            &:hover::after {
                width: 100%;
                left: 0;
            }
        }
    }
    .maincourses {
        h3 {
            // a mettre en mixin 
            &::after {
                background: none repeat scroll 0 0 transparent;
                bottom: 3.3em;
                content: "";
                display: inline-block;
                height: 2px;
                left: 0%;
                background: $barcolor32;
                position: absolute;
                transition: width 0.3s ease 0s;
                width: 0;
            }
            &:hover::after {
                width: 100%;
                left: 0;
            }
        }
    }
    .desserts {
        h3 {
            // a mettre en mixin 
            &::after {
                background: none repeat scroll 0 0 transparent;
                bottom: 3.3em;
                content: "";
                display: inline-block;
                height: 2px;
                left: 0%;
                background: $barcolor33;
                position: absolute;
                transition: width 0.3s ease 0s;
                width: 0;
            }
            &:hover::after {
                width: 100%;
                left: 0;
            }
        }
    }
}