.details--menu1 {
    @include stylemenu1;
    justify-content: flex-start;
    padding: 0em 2.2em 0em 2.2em;
    .title {
        &--top {
            width: 100%;
            font-size: 1.4em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            margin: 1.2em 0 0 0;
        }
        &--bottom {
            font-size: 1.1em;
            display: flex;
            flex-direction: row;
            .icon-noteblk:before {
                font-size: 2.1em;
            }
            margin: 1em 0 0 0;
        }
    }
    .starters,
    .maincourses,
    .desserts {
        .content {
            margin: -1.2em 0 1em 0;
        }
        p {
            padding: .2em 0;
        }
    }
    .starters__title,
    .maincourses__title,
    .desserts__title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: -0.5em 0 0 0;
        h3 {
            padding-top: 8%; //puttitle between the bars
        }
    }
    .dish {
        &__name {
            padding-left: 0em;
        }
        &__price {
            font-weight: 700;
            padding-right: 0em;
        }
    }
}