@mixin zoom-opacity {
    transform: scale(1.2);
    opacity: 60%;
}

@mixin stylemenu1 {
    background: $bgcolor1;
    color: $txtcolor1;
    h1 {
        font-family: 'Devonshire', cursive;
        font-weight: 500;
    }
    h2 {
        font-family: 'Segoe print', cursive, sans-serif;
        //font-family: "Comic Sans MS", cursive, sans-serif;
        padding-top: 0.5em;
        font-weight: 700;
    }
    h3 {
        font-family: 'Segoe print', cursive, sans-serif;
        font-size: 0.9em;
        padding-top: 2.2em;
        display: block;
        position: relative;
        // a mettre en mixin 
        &::after {
            background: none repeat scroll 0 0 transparent;
            bottom: 2.8em;
            content: "";
            display: inline-block;
            height: 2px;
            left: 0%;
            position: absolute;
            background: $txtcolor1;
            transition: width 0.3s ease 0s;
            width: 0;
        }
        &:hover::after {
            width: 100%;
            left: 0;
        }
    }
    //
    p {
        font-family: 'Segoe print', cursive, sans-serif;
        font-size: .65em;
        padding: 0.5em 0 0.2em 0;
    }
    .icon-noteblk:before {
        font-family: 'Project2';
        font-weight: 550;
        font-size: 2.8em;
        background-image: linear-gradient(90deg, $notegradientstartcolor, $notegradientendcolor);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    .icon-menu1left:before,
    .icon-menu1right:before {
        font-family: 'Project2';
        font-weight: 500;
        font-size: 6em;
    }
}

@mixin stylemenu2 {
    background: $bgcolor2;
    h1 {
        font-family: 'Croissant One', cursive;
        font-weight: 500;
        font-size: 1em;
        background-image: linear-gradient(135deg, $chicgradientstartcolor, $chicgradientendcolor);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    h2 {
        font-family: 'PT Serif Caption', serif;
        color: $h2color2;
        font-size: 2em;
        padding-top: 0.5em;
    }
    h3 {
        font-family: 'ogiremaregular';
        font-size: 1em;
        padding-top: 3.25em;
        display: block;
        position: relative;
    }
    //
    p {
        font-family: 'ogiremaregular';
        font-size: .8em;
        padding: 0.4em 0 0.4em 0;
    }
    .icon-menu2left:before,
    .icon-menu2right:before {
        font-family: 'Project2';
        font-weight: 500;
        font-size: 8em;
    }
}

@mixin stylemenu3 {
    background: $bgcolor3;
    color: $txtcolor3;
    h1 {
        font-family: 'Dancing Script', cursive;
        font-weight: 500;
        font-size: 1.6em;
        background-image: linear-gradient(90deg, $delicegradientstartcolor, $delicegradientendcolor);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    h2 {
        font-family: 'Segoe print', cursive, sans-serif;
        color: $h2color3;
        font-weight: 500;
        font-size: 2em;
        padding-top: 0.5em;
    }
    h3 {
        font-family: 'Segoe print', cursive, sans-serif;
        font-size: .8em;
        padding-top: 4.4em;
        display: block;
        position: relative;
    }
    //
    p {
        font-family: 'Segoe print', cursive, sans-serif;
        font-size: .64em;
    }
    .icon-menu3left:before,
    .icon-menu3right:before {
        font-family: 'Project2';
        font-weight: 500;
        font-size: 8.5em;
    }
}

@mixin stylemenu4 {
    background: $bgcolor4;
    color: $txtcolor4;
    h1 {
        font-family: 'Kaushan Script', cursive;
        font-weight: 500;
        background-image: linear-gradient(135deg, $goutgradientstartcolor, $goutgradientendcolor);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    h2 {
        font-family: 'Segoe print', cursive, sans-serif;
        color: $h2color4;
        font-weight: 500;
        font-size: 2em;
        padding-top: 0.5em;
    }
    h3 {
        font-family: 'Segoe print', cursive, sans-serif;
        font-size: .8em;
        letter-spacing: -0.05em;
        padding-top: 4.4em;
        display: block;
        position: relative;
        &::after {
            background: none repeat scroll 0 0 transparent;
            bottom: 5em;
            content: "";
            display: inline-block;
            height: 2px;
            left: 0%;
            position: absolute;
            background: linear-gradient(135deg, $goutgradientstartcolor, $goutgradientendcolor);
            transition: width 0.3s ease 0s;
            width: 0;
        }
        &:hover::after {
            width: 100%;
            left: 0;
        }
    }
    //
    p {
        font-family: 'Segoe print', cursive, sans-serif;
        font-size: .66em;
        padding: 0.2em 0 0.2em 0;
        letter-spacing: -0.05em;
    }
    .icon-menu4left:before {
        font-family: 'Project2';
        font-weight: 500;
        font-size: 9em;
        background-image: linear-gradient(90deg, $goutgradientstartcolor, $goutgradientendcolor);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    .icon-menu4right:before {
        font-family: 'Project2';
        font-weight: 500;
        font-size: 9em;
        background-image: linear-gradient(90deg, $goutgradientendcolor, $goutgradientstartcolor);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
}