$bgcolor: #579c87; //main background color
$txtcolor:#fdcb46; //main text color
//fonts:
//special:
@font-face {
    font-family: 'Project2';
    src: url('/dist/fonts/fonts/Project2.eot'), url('./dist/fonts/fonts/Project2.svg'), url('/dist/fonts/fonts/Project2.ttf'), url('/dist/fonts/fonts/Project2.woff');
}

//main title:
@font-face {
    font-family: "uniform-5-regular";
    src: url("https://dafonttop.com/wp-data/u/592/8592/file/Uniform Bold.ttf") format("woff"), url("https://dafonttop.com/wp-data/u/592/8592/file/Uniform Bold.ttf") format("opentype"), url("https://dafonttop.com/wp-data/u/592/8592/file/Uniform Bold.ttf") format("truetype");
}

//footer & buttons:
@font-face {
    font-family: "uniform-3-regular";
    src: url("https://dafonttop.com/wp-data/u/592/8592/file/Uniform Medium.ttf") format("woff"), url("https://dafonttop.com/wp-data/u/592/8592/file/Uniform Medium.ttf") format("opentype"), url("https://dafonttop.com/wp-data/u/592/8592/file/Uniform Medium.ttf") format("truetype");
}

//MENU:
@font-face {
    font-family: 'PT Serif Caption', serif;
    src: url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap');
}

//fonts menu1:
//font-family: 'Devonshire',cursive;
@import url('https://fonts.googleapis.com/css2?family=Devonshire&display=swap');
$bgcolor1:#fcdfdb;
$txtcolor1: #3d1319;
$notegradientstartcolor: #ef4860;
$notegradientendcolor: #f6926b;
//fonts menu2:
//font-family: 'Croissant One', cursive;
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
$bgcolor2:#fff5fe;
$h2color2: #c77412;
$txtcolor21: #c67412;
$txtcolor22: #a56799;
$txtcolor23: #6e4ccc;
$chicgradientstartcolor: #e38913;
$chicgradientendcolor: #8f5bfe;
//fonts menu3:
//font-family: 'Dancing Script', cursive;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap');
$bgcolor3:#edefef;
$txtcolor3: #000;
$h2color3: #0887fb;
$barcolor31: #0228dd;
$barcolor32: #0670f3;
$barcolor33: #229df9;
$delicegradientstartcolor: #001ed9;
$delicegradientendcolor: #0889fb;
//fonts menu4:
//font-family: 'Kaushan Script', cursive;
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
$bgcolor4:#fdfffd;
$txtcolor4: #000;
$h2color4: #72bf56;
$goutgradientstartcolor: #3d923a;
$goutgradientendcolor: #beff7f;